# 02. Data Cleaning

## Goal
Clean the dataset to ensure high data quality for analysis. We will handle missing values, duplicates, and standardize categorical values.

## Steps
1. Load the dataset.
2. Check for and remove duplicate rows.
3. Check for missing values (and handle if any).
4. Standardize values (expand abbreviations for clarity).
5. Save the cleaned dataset to `data/cleaned/`.

In [1]:
import pandas as pd
import os

### 1. Load Data

In [2]:
# Load the raw data
file_path = "../data/raw/data_science_salaries.csv"
df = pd.read_csv(file_path)

print(f"Initial shape: {df.shape}")
df.head()

Initial shape: (6599, 11)

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

### 2. Handling Duplicates
Duplicate rows can skew analysis. We will check for them and remove them.

In [3]:
# Check duplicate count
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Remove duplicates
if duplicates > 0:
    df_cleaned = df.drop_duplicates()
    print("✅ Duplicates removed.")
else:
    df_cleaned = df.copy()
    print("No duplicates found.")

print(f"New shape: {df_cleaned.shape}")

Number of duplicate rows: 0
No duplicates found.
New shape: (6599, 11)

### 3. Missing Values
We verified earlier there are likely no missing values, but let's double check.

In [4]:
print(df_cleaned.isnull().sum())

job_title             0
experience_level      0
employment_type       0
work_models           0
work_year             0
employee_residence    0
salary                0
salary_currency       0
salary_in_usd         0
company_location      0
company_size          0
dtype: int64

### 4. Logic & Standardization
To make the dashboard more readable, we will replace abbreviations with full text.

- **experience_level**: EN -> Entry Level, MI -> Mid Level, SE -> Senior Level, EX -> Executive Level
- **employment_type**: FT -> Full Time, PT -> Part Time, CT -> Contract, FL -> Freelance
- **company_size**: S -> Small, M -> Medium, L -> Large

In [5]:
# Mapping dictionaries
experience_map = {
    'EN': 'Entry Level',
    'MI': 'Mid Level',
    'SE': 'Senior Level',
    'EX': 'Executive Level'
}

emp_type_map = {
    'FT': 'Full Time',
    'PT': 'Part Time',
    'CT': 'Contract',
    'FL': 'Freelance'
}

company_size_map = {
    'S': 'Small',
    'M': 'Medium',
    'L': 'Large'
}

# Apply mappings
df_cleaned['experience_level'] = df_cleaned['experience_level'].map(experience_map).fillna(df_cleaned['experience_level'])
df_cleaned['employment_type'] = df_cleaned['employment_type'].map(emp_type_map).fillna(df_cleaned['employment_type'])
df_cleaned['company_size'] = df_cleaned['company_size'].map(company_size_map).fillna(df_cleaned['company_size'])

# Verify changes
df_cleaned.head()

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

### 5. Save Cleaned Data
Save the processed DataFrame to `data/cleaned/cleaned_jobs_data.csv`.

In [6]:
output_path = "../data/cleaned/cleaned_jobs_data.csv"
df_cleaned.to_csv(output_path, index=False)

print(f"✅ Cleaned data saved to {output_path}")

✅ Cleaned data saved to ../data/cleaned/cleaned_jobs_data.csv